
.form {
    margin: 2rem 1rem 5rem 1rem;
    width: 97.8%;
    height: auto;
    padding: 2em;
    border: 1px solid #000000;
    border-radius: 1em;
    background-color: white;
    text-align: left;
    color: black;
    display:flex;
}

Button {
    justify-content: flex-end;
    float: right;
    width: 10rem;
    height: 2.5rem;
}

.btn_grid{
    display: flex;
}
